{{template "top" .}}

<div class="people">
  <div class="width">
    <h1>People</h1>

    <div class="people-table">
      <div class="person-row head">
        <div class="person-row-id">ID</div>
        <div class="person-row-first">First Name</div>
        <div class="person-row-last">Last Name</div>
      </div>

      {{ range.people }}
      <div class="person-row">
        <div class="person-row-id">
          {{ .ID }}
        </div>
        <div class="person-row-first">
          {{ .FirstName }}
        </div>
        <div class="person-row-last">
          {{ .LastName }}
        </div>
      </div>
      {{ end }}
    </div>
    <div class="pagination">
      <ul>
        <li>
          {{ if (gt .pagination.CurrentPage 1)}}
            <a href="/page/{{ .pagination.PreviousPage }}">
              Previous
            </a>
            {{ else }}
            <span href="/page/{{ .pagination.PreviousPage }}">
              Previous
            </span>
          {{ end }}
        </li>
        {{ if (gt .pagination.CurrentPage 4)}}
        <li>
          <a href="/page/1">
            1
          </a>
        </li>
        {{end}}
        {{ if (gt .pagination.CurrentPage 4)}}
        <li>
          <span>
            ...
          </span>
        </li>
        {{end}}

        {{ if (ge .pagination.CurrentPage 2)}}
        <li>
          <a href="/page/{{ .pagination.TwoBelow}}">
            {{.pagination.TwoBelow}}
          </a>
        </li>
        {{end}}
        {{ if (gt .pagination.CurrentPage 1)}}
        <li>
          <a href="/page/{{ .pagination.PreviousPage}}">
            {{.pagination.PreviousPage}}
          </a>
        </li>
        {{end}}
        <li>
          <span>
            {{ .pagination.CurrentPage}}
          </span>
        </li>
        {{ if (lt .pagination.CurrentPage .pagination.TotalPages)}}
        <li>
          <a href="/page/{{.pagination.NextPage}}">
            {{ .pagination.NextPage}}
          </a>
        </li>
        {{ end }}
        {{ if (le .pagination.TwoAfter .pagination.TotalPages)}}
        <li>
          <a href="/page/{{.pagination.TwoAfter}}">
            {{ .pagination.TwoAfter}}
          </a>
        </li>
        {{ end }}
        {{ if (lt .pagination.TwoAfter .pagination.TotalPages)}}
        <li>
          <span>
            ...
          </span>
        </li>
        <li>
          <a href="/page/{{.pagination.TotalPages}}">
            {{.pagination.TotalPages}}
          </a>
        </li>
        {{end}}
        <li>
          {{ if (lt .pagination.CurrentPage .pagination.TotalPages) }}
          <a href="/page/{{ .pagination.NextPage }}">
            Next
          </a>
          {{ else }}
          <span href="/page/{{ .pagination.NextPage }}">
            Next
          </span>
          {{ end }}
        </li>
      </ul>
    </div>
  </div>
</div>

{{template "bottom" .}}
